html {
    box-sizing: border-box;
}
header {
    position: fixed;
    display: inline-flex;
    background-color: white;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    padding: 0 20px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 80;
    margin-top: 0;
    
}

body {
    background-color: #DAE0E6;
}

.reddit_logo {
    width: 120px;
    height: auto;
}
.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}
.nav-toggle-label div {
    background-color: lightblue;
    height: 20px;
    width: 270px;
    margin: 10px;
    border: solid black 1px;
    border-radius: 2px;
}
.nav-toggle-label div:hover {
    cursor: pointer;
}
nav {
    position: absolute;
    background-color: white;
    top: 100%;
    border: solid #edeff1 1px;
    border-radius: 2px;
    transform: scale(1, 0);
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li {
    margin: 1em;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 8px 24px;
}
.nav-toggle:checked ~ div nav {
    transform: scale(1, 1);
}
.search-icon {
    width: 15px;
    height: auto;
}
.search-wrapper input[type=search] {
    padding: 0 16px 0 40px;
    display: block;
    height: 36px;
    width: 100%;
    border: 1px solid #edeff1;
    border-radius: 4px;
    background-color: #f6f7f8;
    background-image: url("https://www.pinclipart.com/picdir/big/15-153180_search-button-search-symbol-svg-clipart.png");
    background-size: 20px auto;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 7px;
}
.search-wrapper input[type=search]:focus {
    background-color: white;
}
.outer-wrapper {
    display: inline-flex;
    margin: 1em;
}
.first-inner-wrapper {
    display: flex;
}
.header-quicklink {
    height: 16px;
    padding: 8px;
    width: 16px;
    border-radius: 2px;
}
svg {
    width: 1em;
}
a:hover {
    background-color: #e8e8e8;
}